
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<h3>BSC</h3>
<p>Semester : 2022-2023 Fall</p>
<p>Cgpa : </p>

<h3>HSC</h3>
<p>Institute :</p>
<p>Group : </p>
<p>Gpa : </p>
<p>Year : </p>

<h3>SSC</h3>
<p>Institute :</p>
<p>Group : </p>
<p>Gpa : </p>
<p>Year : </p>

