
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<h3>BSC</h3>
<p>Semester : 2022-2023 Fall</p>
<p>Cgpa : 3.56</p>

<h3>HSC</h3>
<p>Institute : Dhaka Imperial College</p>
<p>Group : Science </p>
<p>Gpa : 4.55</p>
<p>Year : 2017</p>

<h3>SSC</h3>
<p>Institute :  Ma Memorial Model Academy</p>
<p>Group : Science </p>
<p>Gpa : 4.80</p>
<p>Year : 2019</p>

