
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<h4>C++</h4>
<p>Ata Machine</p>

<h4>OOP1(JAVA)</h4>
<p>Ata Machine</p>

<h4>Data Base(SQL)</h4>
<p>UAV Management System</p>

<h4>OOP2(C#)</h4>
<p>Cafa Management System</p>

<h4>Wab Technology</h4>
<p>TOURS AND TRAVEL Management System</p>
